/*common start*/
html {
  /*background: url("../images/paper.jpg") repeat scroll 0 0 #F6F6F6;*/
}

a {
  text-decoration: none;
  color: #000;
}

.mandatory_color {
  color: #7BCC00;
}

.white_bg {
  background: #FFFFFF;
}

.secondary_color {
  color: #00AEEF;
}

.dark_color {
  color: #555555;
}

.dark_color2 {
  color: #999999;
}

.un_follow_color {
  color: #555555;
}

.separator {
  height: 1px;
  font-size: 1px;
  border-top: solid 1px #DDDDDD;
}

.separator_v {
  width: 1px;
  font-size: 1px;
  border-left: solid 1px #DDDDDD;
}

.ui-widget-header {
  background: #7BCC00;
}

.un_follow_home {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border: solid 1px #AAAAAA;
  width: 60px;
  padding: 0px 3px;
  background: #7BCC00;
}

.un_follow_home a:hover{
  color: #EEEEEE
}

.clear_both {
  clear: both;
}

.no_height {
  height: 0px;
  font-size: 0px;
}
/*common start*/


#header .logo {
  font-size: 30px;
  line-height: 80px;
}

#header .my_account {
  text-align: center;
  width: 95px;
}

#header .my_account ul.my_ul {
  position: relative;
}

#header .my_account ul.my_ul li.my_li {
  border: none;
  width: 90px;
  height: 60px;
  line-height: 60px;
  margin-top: 14px;
  float: none;
}

#header .my_account ul.my_menu {
  position: absolute;
  background: #FFFFFF;
  left: 1px;
  top: 62px;
  z-index: 10;
  opacity: 0.8;
  border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  box-shadow: 2px 2px 2px 2px rgba(55, 55, 55, 0.6);
}

#header .my_account ul.my_menu li.my_menu_item {
  border: none;
  width: 90px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  margin-top: 5px;
}

#header .my_account ul.my_menu li.hover_item a {
  color: #333333;
}

#header .my_account ul.my_menu li.separator {
  border-top: solid 1px #EAEAEA;
  width: 80px;
  margin-top: 5px;
  margin-left: 5px;
}

#header .my_account ul.my_menu li.log_out {
  margin-top: 3px;
  margin-bottom: 5px;
}

#header .header_search input {
  background: url("../images/find.png") no-repeat scroll right center #F6F6F6;
  border-radius:3px;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border: 1px solid #BBBBBB;
  font-size: 14px;
  height: 24px;
  margin-left: 30px;
  padding-left: 5px;
  width: 240px;
}

#header .header_search {
  line-height: 85px;
}

#header .header_link {
  text-align: center;
  margin-top: 35px;
}

#header .header_link .selected_l,
#header .my_account li.selected_l {
  border-radius: 4px 4px 0px 0px;
  -moz-border-radius: 4px 4px 0px 0px;
  -webkit-border-radius: 4px 4px 0px 0px;
  border: 1px solid #BBBBBB !important;
  border-bottom: none;
  height: 60px;
  line-height: 56px;
  margin-top: -20px;
  background: url("../images/paper.jpg") repeat scroll 0 0 #F6F6F6;
  box-shadow: 0px 0px 0px 1px rgba(55, 55, 55, 0.6);
}

#header .my_account li.selected_l {
  
}

/*header end*/

/*footer start*/
#footer .footer_content {
  text-align: center;
  color: #999999;
  font-family: tahoma,arial,sans-serif;
  font-size: 12px;
  margin-top: 25px;
}
.navbar_item_top{
    margin-top: 6px;
}
.sina_wb, .qq_wb{
    padding: 10px;
}
.login_title{
    padding: 10px;
    font-size: 14pt;
    font-weight: bold;
}
/*footer end*/
