<div class="row all_notifications">
    <div class="page-header"><h4>我的通知</h4></div>
    <% @notifications.each do |n| %>
        <div class="single_notification">
            <%= image_tag small_avatar_url(n.sender.avatar), width: 35, class: "pull-left" %>

            <div class="pull-left notification_block">
                <%= link_to raw(n), n %>
                <h6><%= n.created_at %></h6>
            </div>
            <div style="clear: both"></div>
        </div>
    <% end %>
</div>
