        <div id="left_filter">
          <div class="left_filter_title">所有分类</div>
          <a href="javascript:void(0);" id="my_favor_categories" class="" title="搜索所有我感兴趣的分类">
            <div class="filter_header<%=current_page?(:controller => 'users', :action => 'dashboard') ? ' category_right_icon' : ''%>">
              我的分类
            </div>
          </a>
          <div class="separator">&nbsp;</div>
          
          <div class="categories">
            <a href="javascript:void(0)" class="category_title" tId="tags_fashion_woman" title="搜索女装鞋包">
              <div class="category_item">
                <img src="/images/fasion.png"/><span>女装鞋包</span>
              </div>
            </a>
            <div id="tags_fashion_woman" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>衬衫</li>
                <li class="tags_item"><input type="checkbox" value="1"/>鞋子</li>
                <li class="tags_item"><input type="checkbox" value="1"/>外套</li>
                <li class="tags_item"><input type="checkbox" value="1"/>包包</li>
                <li class="tags_item"><input type="checkbox" value="1"/>内衣</li>
                <li class="tags_item"><input type="checkbox" value="1"/>衬衫</li>
                <li class="tags_item"><input type="checkbox" value="1"/>波点</li>
                <li class="tags_item"><input type="checkbox" value="1"/>Offlice Lady</li>
                <li class="tags_item"><input type="checkbox" value="1"/>中性</li>
                <li class="tags_item"><input type="checkbox" value="1"/>秋季风衣</li>
                <li class="tags_item"><input type="checkbox" value="1"/>时尚毛衣</li>
              </ul>
            </div>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)" class="category_title" tId="tags_makeup" title="搜索美容护肤"> 
              <div class="category_item">
                <img src="/images/makeup.jpg"/><span>美容护肤</span>
              </div>
            </a>
            <div id="tags_makeup" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>眼霜</li>
                <li class="tags_item"><input type="checkbox" value="1"/>抗皱</li>
                <li class="tags_item"><input type="checkbox" value="1"/>美白</li>
                <li class="tags_item"><input type="checkbox" value="1"/>抗氧化</li>
                <li class="tags_item"><input type="checkbox" value="1"/>欧莱雅</li>
                <li class="tags_item"><input type="checkbox" value="1"/>雅诗兰黛</li>
                <li class="tags_item"><input type="checkbox" value="1"/>香水</li>
                <li class="tags_item"><input type="checkbox" value="1"/>Gucci</li>
                <li class="tags_item"><input type="checkbox" value="1"/>香奈儿</li>
                <li class="tags_item"><input type="checkbox" value="1"/>CK</li>
                <li class="tags_item"><input type="checkbox" value="1"/>Lanvin</li>
              </ul>
            </div>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)" class="category_title" tId="tags_digital" title="搜索数码设备">
              <div class="category_item">
                <img src="/images/digital.png"/><span>数码设备</span>
              </div>
            </a>
            <div id="tags_digital" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>手机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>数码相机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>单反相机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>摄像机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>iPad</li>
                <li class="tags_item"><input type="checkbox" value="1"/>iTouch</li>
                <li class="tags_item"><input type="checkbox" value="1"/>笔记本电脑</li>
                <li class="tags_item"><input type="checkbox" value="1"/>显示器</li>
                <li class="tags_item"><input type="checkbox" value="1"/>闪存</li>
                <li class="tags_item"><input type="checkbox" value="1"/>U盘</li>
                <li class="tags_item"><input type="checkbox" value="1"/>办公耗材</li>
              </ul>
            </div>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)" class="category_title" tId="tags_gifts" title="搜索精美礼品">
              <div class="category_item">
                <img src="/images/digital.png"/><span>精美礼品</span>
              </div>
            </a>
            <div id="tags_gifts" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>手机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>数码相机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>单反相机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>摄像机</li>
                <li class="tags_item"><input type="checkbox" value="1"/>iPad</li>
                <li class="tags_item"><input type="checkbox" value="1"/>iTouch</li>
                <li class="tags_item"><input type="checkbox" value="1"/>笔记本电脑</li>
                <li class="tags_item"><input type="checkbox" value="1"/>显示器</li>
                <li class="tags_item"><input type="checkbox" value="1"/>闪存</li>
                <li class="tags_item"><input type="checkbox" value="1"/>U盘</li>
                <li class="tags_item"><input type="checkbox" value="1"/>办公耗材</li>
              </ul>
            </div>
            <div class="ii_separator">&nbsp;</div>
            
            
          </div>
          <div class="clear"></div>
          
          <a href="javascript:void(0);" id="other_categories_title">
            <div class="filter_header">
              其它分类
            </div>
          </a>
          <div class="separator" id="other_categories_separator" style="<%=current_page?(:controller => 'users', :action => 'dashboard') ? 'display:none;' : ''%>">&nbsp;</div>
          
          <div id="categories_others" style="<%=current_page?(:controller => 'users', :action => 'dashboard') ? 'display:none;' : ''%>">
            <a href="javascript:void(0)" class="category_title" tId="tags_fashion_man" title="搜索男装鞋包">
              <div class="category_item">
                <img src="/images/fasion.png"/><span>男装鞋包</span>
              </div>
            </a>
            <div id="tags_fashion_man" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>西服</li>
                <li class="tags_item"><input type="checkbox" value="1"/>皮鞋</li>
                <li class="tags_item"><input type="checkbox" value="1"/>衬衫</li>
                <li class="tags_item"><input type="checkbox" value="1"/>皮带</li>
                <li class="tags_item"><input type="checkbox" value="1"/>男士内衣</li>
                <li class="tags_item"><input type="checkbox" value="1"/>围巾</li>
                <li class="tags_item"><input type="checkbox" value="1"/>阿玛尼</li>
                <li class="tags_item"><input type="checkbox" value="1"/>CK</li>
                <li class="tags_item"><input type="checkbox" value="1"/>香水</li>
                <li class="tags_item"><input type="checkbox" value="1"/>dunhill</li>
                <li class="tags_item"><input type="checkbox" value="1"/>Zegna</li>
              </ul>
            </div>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)" class="category_title" tId="tags_family_machine" title="搜索家用电器"> 
              <div class="category_item">
                <img src="/images/makeup.jpg"/><span>家用电器</span>
              </div>
            </a>
            <div id="tags_family_machine" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>大家电</li>
                <li class="tags_item"><input type="checkbox" value="1"/>影音电器</li>
                <li class="tags_item"><input type="checkbox" value="1"/>生活电器</li>
                <li class="tags_item"><input type="checkbox" value="1"/>厨房电器</li>
                <li class="tags_item"><input type="checkbox" value="1"/>个人护理</li>
                <li class="tags_item"><input type="checkbox" value="1"/>按摩器材</li>
                <li class="tags_item"><input type="checkbox" value="1"/>西门子</li>
                <li class="tags_item"><input type="checkbox" value="1"/>夏普</li>
                <li class="tags_item"><input type="checkbox" value="1"/>双立人</li>
                <li class="tags_item"><input type="checkbox" value="1"/>格力</li>
                <li class="tags_item"><input type="checkbox" value="1"/>奔腾</li>
              </ul>
            </div>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)">
              <div class="category_item">
                <img src="/images/digital.png"/><span>家居装饰</span>
              </div>
            </a>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)">
              <div class="category_item">
                <img src="/images/digital.png"/><span>运动户外</span>
              </div>
            </a>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)">
              <div class="category_item">
                <img src="/images/digital.png"/><span>文化玩乐</span>
              </div>
            </a>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)">
              <div class="category_item">
                <img src="/images/digital.png"/><span>母婴用品</span>
              </div>
            </a>
            <div class="ii_separator">&nbsp;</div>
            
            <a href="javascript:void(0)" class="category_title" tId="tags_others" title="搜索所有其它">
              <div class="category_item">
                <img src="/images/digital.png"/><span>其它</span>
              </div>
            </a>
            <div id="tags_others" class="catetory_tags" style="display:none;">
              <div class="filter_tags"><input type="text" placeholder="搜索标签"/></div>
              <ul>
                <li class="tags_item"><input type="checkbox" value="1"/>百货食品</li>
                <li class="tags_item"><input type="checkbox" value="1"/>卫浴</li>
                <li class="tags_item"><input type="checkbox" value="1"/>茶叶</li>
                <li class="tags_item"><input type="checkbox" value="1"/>水产</li>
                <li class="tags_item"><input type="checkbox" value="1"/>成人用品</li>
                <li class="tags_item"><input type="checkbox" value="1"/>杂志</li>
                <li class="tags_item"><input type="checkbox" value="1"/>宠物</li>
                <li class="tags_item"><input type="checkbox" value="1"/>音像</li>
                <li class="tags_item"><input type="checkbox" value="1"/>配件</li>
                <li class="tags_item"><input type="checkbox" value="1"/>二手车</li>
              </ul>
            </div>
            <div class="clear"></div>
            
            
            
          </div>
          
          <div class="m_bottom">&nbsp;</div>
        </div>
