<%= form_tag search_users_path, remote: remote, class: "form-search" do %>
    <%= text_field_tag :nick_name, params[:nick_name], :placeholder => "搜索用户", :class => "input-medium search-query" %>
    <button type="submit" class="btn btn-primary">搜索</button>
<% end %>
<hr class="bs-docs-separator">