<div style="margin-left: auto; margin-right: auto; margin-bottom: 25px;">
    <ul class="breadcrumb">
        <li><a href="#">第1步：使用微博帐号注册</a></li>
        <li><a class="active" href="#">第2步：设置/完善您的帐号信息</a></li>
        <li><a href="#">第3步：设置您的偏好</a></li>
        <li><a href="#">第4步：关注你可能感兴趣的人</a></li>
    </ul>
</div>