<div class="thumbnail row friend-block">
    <%= image_tag small_avatar_url(summary.avatar), :width => '50', class: "pull-left" %>
    <div class="pull-right friend-info">
        <h5><%= link_to summary.nick_name, my_shares_user_path(summary) %></h5>
        <ul>
            <li>推荐 180</li>
            <li>购买 153</li>
            <li>愿望 22</li>
        </ul>
        <% summary.recent_shares.each do |share| %>
            <%= link_to share do %>
                <%= image_tag share.item.image, width: 100 %>
            <% end %>
        <% end %>
    </div>
</div>