<div class="row main dashboard">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <%= render :partial => "links"  %>
    </div>
    <div class="span8">
        <div class="page-header"><h4>分享</h4></div>
        <div class="row" style="margin-left: 0px;">
            <% @shares.each do |share| %>
                <%= render :partial => "shares/share", :object => share %>
            <% end %>
        </div>

        <%= bootstrap_will_paginate @shares %>
    </div>
</div>
