<div class="row dashboard">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <ul class="nav nav-pills nav-stacked sidebars" style="margin-top: 15px;">
            <li class="active"><%= link_to "所有分享", dashboard_user_path(current_user) %></li>
            <li><%= link_to "我的分享", my_shares_user_path(current_user) %></li>
            <li><a href="#">好友的分享</a></li>
            <li><a href="#">热门推荐</a></li>
        </ul>
    </div>
    <div class="span10">
        <div class="row" style="margin-left: 0px;">
            <ul class="nav nav-pills well category">
                <li class="active"><a href="#">书籍</a></li>
                <li><a href="#">应用</a></li>
                <li><a href="#">数码</a></li>
                <li><a href="#">户外</a></li>
                <li><a href="#">服饰</a></li>
                <li><a href="#">化妆品</a></li>
                <li><a href="#">居家</a></li>
                <li><a href="#">其它</a></li>
            </ul>
        </div>
        <ul class="tag">
            <li><a href="#">酷玩</a></li>
            <li><a href="#">数码</a></li>
            <li><a href="#">玩具</a></li>
            <li><a href="#">涂鸦</a></li>
            <li><a href="#">创意</a></li>
            <li><a href="#">印章</a></li>
            <li><a href="#">趣味</a></li>
            <li><a href="#">quwe</a></li>
            <li><a href="#">人偶</a></li>
        </ul>
        <div class="page-header"><h4>分享</h4></div>
        <div class="row" style="margin-left: 0px;">
            <div class="row item-block">
                <h4>休闲卡通印花圆领长袖T恤</h4>

                <div class="pull-left item-left">

                    <img src="http://placehold.it/300x300">

                    <div class="btn-group">
                        <a class="btn" href="#">想买</a>
                        <a class="btn" href="#">推荐</a>
                        <a class="btn" href="#">买过</a>
                    </div>
                </div>
                <div class="pull-right item-right">
                    <div class="item-info">
                        <p class="row user-block">
                            <img src="http://placehold.it/50x50" class="pull-left">
								<span class="user-block-info">
									<a href="#">jcheng无敌</a>
								</span>
                        </p>

                        <p>进口女装2011新款秋冬装韩国正品代购，休闲卡通印花圆领长袖T恤。超值！
                            衬衫质量很好，穿着很舒服。这家店的服务也很好，不仅店主热情，服务周到，
                            发货迅速，而且还能打折喔。。。
                        </p>

                        <p>价格：55元 <a href="#">去淘宝购买</a></p>
                    </div>
                    <form>
                        <textarea class="input-xlarge" rows="1" placeholder="我来评两句"></textarea>
                        <button type="submit" class="btn btn-primary">评论</button>
                    </form>
                </div>
            </div>
            <div class="row item-block">
                <h4>休闲卡通印花圆领长袖T恤</h4>

                <div class="pull-left item-left">

                    <img src="http://placehold.it/300x300">

                    <div class="btn-group">
                        <a class="btn" href="#">想买</a>
                        <a class="btn" href="#">推荐</a>
                        <a class="btn" href="#">买过</a>
                    </div>
                </div>
                <div class="pull-right item-right">
                    <div class="item-info">
                        <p class="row user-block">
                            <img src="http://placehold.it/50x50" class="pull-left">
								<span class="user-block-info">
									<a href="#">jcheng无敌</a>
								</span>
                        </p>

                        <p>进口女装2011新款秋冬装韩国正品代购，休闲卡通印花圆领长袖T恤。超值！
                            衬衫质量很好，穿着很舒服。这家店的服务也很好，不仅店主热情，服务周到，
                            发货迅速，而且还能打折喔。。。
                        </p>

                        <p>价格：55元 <a href="#">去淘宝购买</a></p>
                    </div>
                    <form>
                        <textarea class="input-xlarge" rows="1" placeholder="我来评两句"></textarea>
                        <button type="submit" class="btn btn-primary">评论</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
