<div class="row">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <ul class="nav nav-tabs nav-stacked" style="margin-top: 15px;">
            <li><%= link_to "我的愿望 (#{@user.wishes.size})", my_wishes_user_path(@user) %></li>
            <li><%= link_to "我的背包 (#{@user.bags.size})", my_bags_user_path(@user) %></li>
        </ul>
    </div>
    <div class="span8">
        <div class="page-header"><h4>我的关注</h4></div>
        <% @users.each do |user| %>
            <%= render :partial => "summary", :object => user %>
        <% end %>
    </div>
</div>
