<div class="row">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <ul class="nav nav-tabs nav-stacked" style="margin-top: 15px;">
            <li><%= link_to "我的愿望 (#{@user.wishes.size})", my_wishes_user_path(@user) %></li>
            <li><%= link_to "我的背包 (#{@user.bags.size})", my_bags_user_path(@user) %></li>
        </ul>
    </div>
    <div class="span8">
        <div class="page-header"><h4>我的粉丝</h4></div>
        <% @users.each do |user| %>
            <%= render :partial => "summary", :object => user %>
        <% end %>
    </div>
    <div class="span2">
        <div class="page-header"><h4>你可能感兴趣的人</h4></div>
        <ul class="thumbnails">
            <li class="span2">
                <div class="thumbnail row user-block">
                    <img src="http://placehold.it/50x50" class="pull-left">

                    <div class="pull-right user-block-info">
                        <a href="#">jcheng无敌</a>
                    </div>
                </div>
            </li>
            <li class="span2">
                <div class="thumbnail row user-block">
                    <img src="http://placehold.it/50x50" class="pull-left">

                    <div class="pull-right user-block-info">
                        <a href="#">zl_demon</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>