<div class="row main">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <%= render :partial => "links"  %>
    </div>
    <div class="span8">
        <div class="page-header"><h4>我的好友</h4></div>
        <% @users.each do |user| %>
            <%= render :partial => "summary", :object => user %>
        <% end %>
    </div>
</div>
