<div class="row">
    <div class="span2">
        <div class="thumbnail">
            <img src="http://placehold.it/160x180" alt="">
            <div class="caption">
                <ul class="nav nav-pills info" style="font-size: 12px;">
                    <li><a href="#"><strong>210</strong><span>关注</span></a></li>
                    <li><a href="#"><strong>100</strong><span>粉丝</span></a></li>
                    <li><a href="#"><strong>20</strong><span>分享</span></a></li>
                </ul>
            </div>
        </div>
        <ul class="nav nav-tabs nav-stacked" style="margin-top: 15px;">
            <li><a href="#">我的推荐 (20)</a></li>
            <li><a href="#">我的愿望 (180)</a></li>
        </ul>
    </div>
    <div class="span8">
        <div class="page-header"><h4>我的好友</h4></div>
        <div class="thumbnail row friend-block">
            <img src="http://placehold.it/100x100" class="pull-left">
            <div class="pull-right friend-info">
                <h5><a href="#">jcheng无敌</a></h5>
                <ul>
                    <li>推荐 180</li>
                    <li>购买 153</li>
                    <li>愿望 22</li>
                </ul>
                <a href="#"><img src="http://placehold.it/80x80"></a>
                <a href="#"><img src="http://placehold.it/80x80"></a>
                <a href="#"><img src="http://placehold.it/80x80"></a>
            </div>
        </div>
        <div class="thumbnail row friend-block">
            <img src="http://placehold.it/100x100" class="pull-left">
            <div class="pull-right friend-info">
                <h5><a href="#">jcheng无敌</a></h5>
                <ul>
                    <li>推荐 180</li>
                    <li>购买 153</li>
                    <li>愿望 22</li>
                </ul>
                <a href="#"><img src="http://placehold.it/80x80"></a>
                <a href="#"><img src="http://placehold.it/80x80"></a>
                <a href="#"><img src="http://placehold.it/80x80"></a>
            </div>
        </div>
    </div>
    <div class="span2">
        <div class="page-header"><h4>你可能感兴趣的人</h4></div>
        <ul class="thumbnails">
            <li class="span2">
                <div class="thumbnail row user-block">
                    <img src="http://placehold.it/50x50" class="pull-left">
                    <div class="pull-right user-block-info">
                        <a href="#">jcheng无敌</a>
                    </div>
                </div>
            </li>
            <li class="span2">
                <div class="thumbnail row user-block">
                    <img src="http://placehold.it/50x50" class="pull-left">
                    <div class="pull-right user-block-info">
                        <a href="#">zl_demon</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>