<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            $(".item-block textarea").focusin(
                    function () {
                        $(this).attr("rows", 3);
                    }).focusout(function () {
                        $(this).attr("rows", 1);
                    });
        });
    </script>
<% end %>

<div class="row main myshares">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <%= render :partial => "links" %>
    </div>
    <div class="span8">

        <div class="page-header">
            <h4>
                <% if current_page?(:action => :my_shares) %>
                    我的收藏
                <% elsif current_page?(:action => :my_wishes) %>
                    我的未实现愿望
                <% elsif current_page?(:action => :my_bags) %>
                    我的已实现愿望
                <% elsif current_page?(:action => :cycle_shares) %>
                    间接好友愿望
                <% end %>
            </h4>
        </div>
        <div class="row" style="margin-left: 0px;">
            <% @shares.each do |share| %>
                <%= render :partial => "shares/share", :object => share %>
            <% end %>
        </div>

        <%= bootstrap_will_paginate @shares %>
    </div>
</div>
