<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            $(".item-block textarea").focusin(function () {
                $(this).attr("rows", 3);
            }).focusout(function () {
                        $(this).attr("rows", 1);
                    });
        });
    </script>
<% end %>

<div class="row main">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <%= render :partial => "links"  %>
    </div>
    <div class="span8">
        <div class="page-header"><h4>我的背包</h4></div>
        <div class="row" style="margin-left: 0px;">
            <% @bags.each do |bag| %>
                <%= render :partial => "shares/share", :object => bag %>
            <% end %>
        </div>

        <%= bootstrap_will_paginate @bags %>
    </div>
</div>
