<% content_for :javascripts do %>
    <script type="text/javascript">
        $(function () {
            $(".item-block textarea").focusin(
                    function () {
                        $(this).attr("rows", 3);
                    }).focusout(function () {
                        $(this).attr("rows", 1);
                    });
        });
    </script>
<% end %>

<div class="row main myshares">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <%= render :partial => "links"  %>
    </div>
    <div class="span8">

        <div class="page-header"><h4>分享</h4></div>
        <div class="row" style="margin-left: 0px;">
            <% @shares.each do |share| %>
                <%= render :partial => "shares/share", :object => share %>
            <% end %>
        </div>
    </div>
</div>
