<div class="row rec-friendship">
  <div class="row span10 offset1">
    <div class="span10" style='margin-left:0'>
      <ul class="breadcrumb">
        <li><a href="#" click='javascript:void(0)'>第1步：使用微博帐号注册</a><span class="divider">&gt;</span></li>
        <li><a href="#" click='javascript:void(0)'>第2步：设置帐号信息</a><span class="divider">&gt;</span></li>
        <li><a href="#" click='javascript:void(0)'>第3步：设置感兴趣的分类</a><span class="divider">&gt;</span></li>
        <li><a href="#" click='javascript:void(0)'>第4步：关注感兴趣的人</a><span class="divider">&gt;</span></li>
        <li class="active"><a href="#" click='javascript:void(0)'>第5步：收藏想买、分享愿望</a></li>
      </ul>
    </div>
    <div class="span2">
      <%= render :partial => "avatar", :object => @user %>
    </div>
    <div class="span7">
      <div class="page-header"><h4>收藏想买 分享愿望</h4></div>
      <%= image_tag 'makeawish_launch.jpg' %>
        <div class="page-header"><%= form_for @user, url: launch_user_path(@user), method: :put do |f| %>
		      <div><%= check_box_tag 'sync_to_weibo', 1  %>&#160;&#160;发送微博告诉好友这里有我的愿望清单  </div>
  		  <br/>
  		  <button type="submit" id="submit" class="btn btn-info">开始</button>
        </div>
	  	<%end %>
    </div>        
  </div>
</div>
