<div class="row rec-friends">
  <div class="span12" style="margin-left: auto; margin-right: auto; margin-bottom: 25px;">
    <ul class="breadcrumb">
      <li><a href="#">第1步：使用微博帐号注册</a></li>
      <li><a href="#">第2步：设置/完善您的帐号信息</a></li>
      <li><a href="#">第3步：设置您的偏好</a></li>
      <li><a href="#">第4步：关注你可能感兴趣的人</a></li>
      <li><a class="active" href="#">第5步：开始收藏想买、分享愿望</a></li>
    </ul>
  </div>
  <div class="span2">
    <%= render :partial => "avatar", :object => @user %>
  </div>
  <div class="span8">
    <div class="page-header"><h4>收藏想买 分享愿望</h4></div>
    <div class="page-header">
      	<%= form_for @user, url: launch_user_path(@user), method: :put do |f| %>
		<div><%= check_box_tag 'sync_to_weibo', 1  %>&#160;&#160;发送微博告诉好友这里有我的愿望清单  </div>
  		<br/>
  		<button type="submit" id="submit" class="btn btn-info">开始</button>
	  	<%end %>
    </div>        
  </div>
</div>
