<div class="row main">
    <div class="span2">
        <%= render :partial => "avatar", :object => current_user %>
        <%= render :partial => "links" %>
    </div>
    <div class="span8">
        <div class="span">
            <%= render :partial => "search_bar" %>
        </div>

        <div class="span" style="margin-left: 0px;">
            <% @users.each do |user| %>
                <%= render :partial => "summary", :object => user %>
            <% end %>
        </div>
    </div>
</div>