<div class="row main">
    <div class="span2">
        <%= render :partial => "avatar", :object => @user %>
        <%= render :partial => "links" %>
    </div>
    <div class="span8">
        <div class="span">
            <%= render :partial => "search_bar", :locals => {:remote => false} %>
        </div>

        <div class="span">
            <div class="row" style="margin-left: 0px;">
                <% unless @users.blank? %>
                    <ul class="thumbnails">
                        <% @users.each do |user| %>
                            <%= render :partial => "summary", :object => user %>
                        <% end %>
                    </ul>
                <% else %>
                    <h4 class="friend-msg">没有找到对应的用户。</h4>
                <% end %>
            </div>
        </div>
    </div>
</div>