<div id="register_main">
<div class="container_24">
    <div class="grid_24 register_content">
    <div class="grid_10 register_left">
        <div class="login_title" >使用帐号登陆</div>
        <div class="sina_wb">
          <%= link_to :controller => 'syncs' ,:type => 'sina' , :action =>'new' do %> 
          <%= image_tag "/images/32-weibo.gif"  %> <span> "用新浪微博创建帐号"</span>
          <% end %>
        </div>
        <div class="qq_wb" >
          <%= link_to :controller => 'syncs' ,:type => 'qq' , :action =>'new' do %> 
          <%= image_tag "/images/32-qqweibo.gif"  %> <span> "用腾讯微博创建帐号"</span>
          <% end %>
        </div>
    </div>
    <div class="grid_7 register_right">
            <!--<img src="/images/social.png"/>-->
            <div class="title">掀开社交电子商务的新篇章</div>
    </div>
    </div>
</div>
</div>
