<div id="overlay-detail-mock" style='padding-top:15px'>
    <form id="share-form-mock" class="simple_form form-horizontal tag-form share-detail">
        <div  class="bookmarklet_container row">
            <div class="span3">
                  <div class="images_picker" style='height:330px'></div>
            </div>

            <div class="span5">
                <div class="control-group string required">  
                    <label class="string required control-label" for="item_category"><abbr title="required">*</abbr> 分类</label>
                    <div class="controls">
                        <select disabled="true" style="background-color: #fff"></select>
                    </div>
                </div>            
                <div class="control-group string optional">
                </div>
                <div class="control-group string optional">
                    <label class="string optional control-label" for="item_tags">标签</label>
                    <div class="controls">
                        <ul class="tags">
                            <li><input type="text" style="width: 30px;background-color: #fff" disabled="true"></li>
                        </ul>   
                    </div>
                </div>
                <div class="control-group string optional">
                    <label class="string optional control-label" for="item_comment">心语心愿</label>
                    <div class="controls">
                        <textarea class="input-xlarge" style="background-color: #fff" disabled="true" rows="5"></textarea>
                    </div>
                </div> 
                <div class="controls">
                    <input type="checkbox" disabled="true" checked="">&nbsp;&nbsp;添加愿望&nbsp;&nbsp;&nbsp;&nbsp;
                    <input type="checkbox" disabled="true">&nbsp;&nbsp;添加已实现的愿望
                </div>
            </div>
        </div>
        <div id="overlay-footer" class="footer">
        <div style='float: left;'>拖拽 <a href="javascript:(function(){window.open('<%= url_for(:controller => 'collect', :only_path => false) %>?url='+encodeURIComponent(window.location.href),'boluome_bookmarklet','top=100,left=100,width=960,height=625,location=yes,menubar=no,resizable=yes,scrollbars=yes,status=no,toolbar=no')})()">菠萝蜜愿望收藏</a> 到浏览器收藏夹栏</div>

        <div style='float: right;'>
            <% unless current_user.accounts.sina.blank? %>
                <input name="share_to[]" type="checkbox" disabled="true" value="sina">&#160;&#160;分享愿望到新浪微博&#160;&#160;&#160;&#160;
            <% end %>
            <% unless current_user.accounts.qq.blank? %>
                <input name="share_to[]" type="checkbox" disabled="true" value="qq">&#160;&#160;分享愿望到腾讯微博&#160;&#160;&#160;&#160;
            <% end %>
            <input name="share[subscribed]" type="checkbox" disabled="true" value="1">&#160;&#160;订阅降价通知
        </div>
         <input type="button" class='btn btn-warning' style='clean:both;' disabled="true" value='收藏愿望'>
        </div>
    </form>
    <div class="loading-mask" style="display:none">
        <div><img src="/assets/loading.gif"/>&#160;正在分析...</div>
    </div>    
</div>
