<% current_categories.each do |c| %>
    <ul class="tag">
        <%= "#{c} >>" %>
        <% Item.top_tags(c).each do |tag| %>
            <li><a href="#"><%= tag %></a></li>
        <% end %>
    </ul>
<% end %>


