<style>
.required{
    color: red;
    font-weight: bold;
    padding-right: 6px;
}
</style>
<script>
var GLOBAL_IMAGES_FROM_BOOKMARK = [];
    <% @imgs.each do |img| %>
        GLOBAL_IMAGES_FROM_BOOKMARK.push('<%= img %>');
    <% end %>
console.log(GLOBAL_IMAGES_FROM_BOOKMARK.length);
</script>
<h2>Add a Recommendation</h2>
  <div class="row">
    <div class="span4">
        <ul class="thumbnails">
        <li class="span4">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/360x268" alt="">
          </a>
        </li>
        <li class="span4">
          <a href="#" class="thumbnail">
            310 x 310
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
        <li class="span2">
          <a href="#" class="thumbnail">
            <img src="http://placehold.it/160x120" alt="">
          </a>
        </li>
          </ul>
    </div><!-- /.span -->
    <div class="span8">
      <form class="form-horizontal">
        <fieldset>
          <div class="control-group">
            <label class="control-label" for="input01"><span class="required">*</span>Title</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">80 characters remaining.</p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="select01"><span class="required">*</span>Category</label>
            <div class="controls">
              <select id="category">
                <option>Home</option>
                <option>Book</option>
                <option>Movie</option>
                <option>Hotel</option>
                <option>Restaurant</option>
              </select>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textarea"><span class="required">*</span>Recommendation</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="3"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="textarea">Tags</label>
            <div class="controls">
              <textarea class="input-xlarge" id="textarea" rows="2"></textarea>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input01">Address</label>
            <div class="controls">
              <input type="text" class="input-xlarge" id="input01">
              <p class="help-block">enter a city, state or zipcode</p>
            </div>
          </div>
          <div class="form-actions">
            <button type="submit" class="btn btn-primary">Recommend</button>
          </div>
        </fieldset>
      </form>
