
<div id="createShare_main">
  <div class="container_24">
    <div class="clear"></div>
    <div class="grid_24 main_content">
        <div class="grid_4">
      &nbsp;
        </div>
        <div class="grid_19" id="select_share_btn" style="display:block;">
        </div>
        <div class="grid_4">
      &nbsp;
        </div>
        
<%= render 'form' %>

    </div>
  </div>
</div>
