<div class="row">
    <div class="span12">
        <div class="row" style="margin-left: 0px;">
            <ul class="nav nav-pills well category">
                <li class="active"><a href="#">书籍</a></li>
                <li><a href="#">应用</a></li>
                <li><a href="#">数码</a></li>
                <li><a href="#">户外</a></li>
                <li><a href="#">服饰</a></li>
                <li><a href="#">化妆品</a></li>
                <li><a href="#">居家</a></li>
                <li><a href="#">其它</a></li>
            </ul>
        </div>
        <ul class="tag">
            <li><a href="#">酷玩</a></li>
            <li><a href="#">数码</a></li>
            <li><a href="#">玩具</a></li>
            <li><a href="#">涂鸦</a></li>
            <li><a href="#">创意</a></li>
            <li><a href="#">印章</a></li>
            <li><a href="#">趣味</a></li>
            <li><a href="#">人偶</a></li>
            <li><a href="#">test</a></li>
        </ul>
        <!--<div class="page-header"></div>-->
        <ul class="thumbnails items">
            <!--<% @items.each do |item| %>
                <%= render :partial => "item", :object => item, :locals => { :share => item.shares.first } %>
            <% end %>-->
            <li>
                <div class="thumbnail image">
                    <img src="http://placehold.it/818x670" alt=""/>
                </div>
                <div class="thumbnail description">
                    <h3>this is description for the left picture</h3>
                    <div class="caption">
                        <h5>thumbnail label</h5>
                        <p>description for thumbnail label and picture. the description may be very very long</p>
                        <p><a href="#" class="btn btn-primary">action</a><a href="#" class="btn">action</a></p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
