<div class="row">
    <div class="span12">

       <%= render "categories/category" %>
       <%= render "items/toptags" %>

        <!--<div class="page-header"></div>-->
        <ul class="thumbnails">
            <% @items.each do |item| %>
                <%= render :partial => "item", :object => item %>
            <% end %>
        </ul>
    </div>
</div>
