<div id="createShare_main">
    <div class="container_24">
        <div class="clear"></div>
        <div class="grid_24 main_content">
            <div class="grid_4">
                &nbsp;
            </div>
            <div class="grid_19" id="select_share_btn" style="display:<%=@share.source ? 'block':'none'%>;">
                <a href="javascript:void(0);" id="select_again_btn">返回重新选择</a>
            </div>
            <div class="grid_4">
                &nbsp;
            </div>
            <div id="select_view" style="display:<%=@share.source ? 'none':'block'%>;">
                <div class="grid_24" id="select_from_buy_list">
                    <div class="select_sub_title_1">从淘宝购买记录分享<span class="secondary_color">（推荐）</span></div>
                    <div class="description">
                        <div class="text_12 dark_color">分享真实的购买记录，结识相同品味的朋友</div>
                        <div class="text_12 dark_color">您还没有同步淘宝的购买记录
                            <a href="javascript:void(0)" class="secondary_color text_10">了解更多</a></div>
                        <div class="gotoSync">
                            <a href="javascript:void(0)" id="select_from_buy_list_sync">连接淘宝帐号分享购买过的宝贝</a></div>
                    </div>
                </div>
                <div class="clear_both">&nbsp;</div>
                <div class="separator">&nbsp;</div>

                <div class="grid_24" id="input_buy_url">
                    <div class="select_sub_title"><span class="dark_color text_12">或&nbsp;</span>输入淘宝商品链接</div>
                    <div>
                        <input type="text" placeholder="在这里输入淘宝商品链接地址" id="taobao_url" value="http://item.taobao.com/item.htm?id=484075"/>
                        <a href="javascript:void(0);" id="input_buy_url_next" class="secondary_color">下一步</a>
                    </div>
                </div>
                <div class="clear_both">&nbsp;</div>
                <div class="separator">&nbsp;</div>

                <div class="grid_24" id="select_from_sys">
                    <div class="select_from_sys_contaniner">
                        <div class="select_sub_title"><span class="dark_color text_12">或&nbsp;</span>搜索要分享的商品</div>
                        <div>
                            <input type="text" id="search_item_input" placeholder="在这里输入搜索关键字"/><a href="javascript:void(0)" id="select_from_sys_next" class="secondary_color">下一步</a>
                        </div>

                    </div>
                </div>
                <div class="clear_both">&nbsp;</div>
            </div>

            <%= render 'form' %>

        </div>
    </div>
</div>
