#bookmarklet_container {
  ul, ol {
    margin: 0;
  }

  /*.required {*/
    /*color: red;*/
    /*font-weight: bold;*/
    /*padding-right: 6px;*/
  /*}*/

  .thumbnails > li {
    margin: 0;
  }

  .span2 {
    width: 180px;
  }

  .span1 {
    width: 80px;
  }

  .dimension {
    text-align: center;
    color: #999;
    margin: 4px 0 5px 0;
    line-height: 27px;
    background-color: white;
    display: none;
  }

  .images_picker {
    background-color: #EEEEEE;
    padding: 4px 6px;
  }

  .image_frame {
    text-align: center;
  }

  .image_frame img {
    height: 250px;
    width: 250px;
  }

  #bookmarklet_container > h2 {
    text-align: center;
  }

  .image_list li {
    float: left;
    margin: 0 0 10px 10px;
    border: 3px solid transparent;
    list-style: none;
  }

  .image_list img {
    height: 60px;
    width: 60px;
  }

  .image_list li:hover, .selected {
    border: 3px solid #A20;
  }

  body {
    min-width: 680px;
    max-width: 700px;
  }
}

.collect-panel{
  h4 {
    padding-bottom: 12px;
  }
  .search-result{
    .item{
      padding: 4px 5px;
      overflow: hidden;
    }

    .item a{
      overflow: hidden;
    }

    .item a:hover{
      background-color: #0088cc;
      color: white;
      cursor: pointer;
    }

    .item a:hover .price{
      color: white;
    }

    .abstract{
      padding: 5px 0 0 55px;
    }

    .pic{
      float: left;
    }

    .name{
      font-weight: bold;
    }

    .price{
      padding-left: 10px;
      color: #666;
    }

    .cat{
      font-style: italic;
      font-size: 11px;
    }
  }

  .search-loading{
    padding: 5px;
  }

  .loading-icon{
    float: left;
    margin-top: 2px;
    width: 17px;
  }

  .loading-text{
    padding-left: 4px;
    vertical-align: middle;
  }
}
