.user_badge {
	margin-left: 0;
	margin-right: 20px;
	width: 180px;
	.avatar_img {
		width:80px;
		height:80px;
		background-color:#fff
	}
	.avatar_name {
		padding: 20px 5px 0 20px;
		overflow: hidden;
		width: 60px;
	}
	ul {
		margin-bottom: 0;
	}
	.caption {
		text-align: center;
	}
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-right: 1px solid #ddd !important;
}

.dashboard {
	
	.userinfo {
		position: relative;
		padding-bottom: 20px;
		.span3 {
			margin-left: 0;
		}
	}
	.wishCountBar{
		background-color: #eee;
		line-height: 45px;
		margin-bottom: 20px;
		border: 0;
		border-left: 4px solid #65B8FD;
		ul.nav > li{
			padding: 0 10px;
			line-height: 45px;
			height: 45px;
		}
	}
	ul.myActions {
		margin-top: 40px;
		margin-bottom: 0;
		z-index: 101;
		> li {
			width: 120px;
			height: 80px;
			background-color: #fff;
			margin-right: 8px;
			line-height: 80px;
			text-align: center;
			border-bottom: 1px solid #ccc;
			box-shadow: 2px 2px 5px #ccc;
		}
		>li:hover {
			border-bottom: 0;
			box-shadow: -2px -2px 5px #ccc;
		}
	}

	.navbar .nav > li > a {
		margin: 0;
		line-height: 45px;
		height: 45px;
		padding: 0;
		color: #303030;
		text-shadow: 0 0 0;
	}
	.item_block {
		margin-right: 30px;
		width: 472px;
		box-shadow: 2px 2px 2px #ccc;
		.item_right {
			padding-top: 10px;
		}
		.user_comment {
			height: 135px;
			overflow: hidden;
		}
		.the-icons {
			float: right;
			margin-bottom: 10px;
		}
	}
	.pagination {
		text-align: center;
	}
}

div.inviteuser, div.finduser{
	display:none;
	z-index:10000;
 	background-color:#fff;
 	border:1px solid #e3e3e3;
 	width: 520px;
 	padding: 20px 10px;

    box-shadow: 0 0 10px #eee;
    -moz-box-shadow:0 0 10px 5px #eee;
    -webkit-box-shadow: 0 0 10px #eee;

	.close {
		background-image: url("close.png");
		position: absolute;
		right: -15px;
		top: -15px;
		cursor: pointer;
		height: 35px;
		width: 35px;
		opacity: 1;
		filter: alpha(opacity=100);
	}

	h4 {
		padding-bottom: 10px;
	}
}

div.finduser {
	.friend-block {
		width: 480px;
		margin: 0 0 10px 0;
	}
	.friend-info {
		width: 420px;
	}
}