.user_badge {
	margin-left: 0;
	margin-right: 20px;
	.avatar_img {
		width:80px;
		height:80px;
		background-color:#fff
	}
	.avatar_name {
		line-height:80px;
		padding-left:20px;
		overflow: hidden;
		width: 120px;
	}
	ul {
		margin-bottom: 0;
	}
	.caption {
		text-align: center;
	}
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	border-right: 1px solid #ddd !important;
}

.dashboard {
	
	.userinfo {
		position: relative;
		border-bottom: 1px solid #ccc;
		padding-bottom: 20px;
		margin-bottom: 20px;
		.span3, {
			margin-left: 0;
		}
	}
	ul.myActions {
		margin-top: 40px;
		margin-bottom: 0;
		z-index: 101;
		> li {
			width: 120px;
			height: 80px;
			background-color: #fff;
			margin-right: 8px;
			line-height: 80px;
			text-align: center;
			border-bottom: 1px solid #ccc;
			box-shadow: 2px 2px 5px #ccc;
		}
		>li:hover {
			border-bottom: 0;
			box-shadow: -2px -2px 5px #ccc;
		}
	}
	div.myActions-panel {
		position: absolute;
		z-index:100;
		> div {
			width: 680px;
			height: 450px;
			background-color: #fff;
			margin-right: 8px;
			line-height: 300px;
			text-align: center;
			box-shadow: -2px 2px 5px #ccc;
		}
	}
}
