#tileIcons {
  text-align: left;
  img {
    height: 200px;
    width: 200px;
  }
  .item {
    display: inline-block;
    border: 1px solid #eee;
    background-color: #fff;
    height: 350px;
    width: 276px;
    padding: 8px;
    margin: 8px 25px 8px 0;
    box-shadow: 2px 2px 5px #E3E3E3;
    text-align: center;
    .caption {
      text-align: left;
    }
  }
  .item-last {
    margin-right: 0;
  }
  .caption {
    max-width: 250px;
    padding: 10px 0 0 2px;
  }
}

#loginBar {
  padding: 10px 0;
  text-align: center;
  a {
    display: inline-block;
    color: #868686;
  }
}

.follow {
  margin-top: 15px;
}
