#index_images {
    .thumbnail {
        img {
            width: 260px;
            height: 290px;
            vertical-align: middle;
        }
    }
}

#index_instruction {
    font-size: 14px;
    .left {
        margin-top: 5px;
        .content {
            margin-top: 10px;
            div {
                margin-bottom:5px;
            }
        }
    }
    .right {
        img {
            color: transparent;
            vertical-align: middle;
        }
        .wbs {
            margin-left: 0;
            list-style: none;
            
            .wb {
                margin: 0 0 12px 0;
                a {
                    padding: 5px 0px 5px 5px;
                    text-decoration: none;
                }
            }
        }
    }
}
