// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.img_frame{
    overflow: hidden;
    display: block;
}
.medium_picture{
    width: 240px;
    height: 230px;
}
.mini_picture{
    width: 26px;
    height: 26px;
}

.browse_item {
    width: 240px;
    height: 375px;
}

.browse_item .title{
    color: #32A0EB;
    max-width: 240px;
    max-height: 14px;
    overflow: hidden;
    margin: 8px 0 3px;
}
.browse_item .user-comment{
    height: 100px;
    overflow: hidden;
    height: 68px;
}
.user-comment{
    font-size: 12px;
}
.user_name, .comment{
    margin-left: 34px;
    max-width: 190px;
}
.comment{
    margin-top: 4px;
}
.user_name{
    display: block;
}
.items .thumbnail{
    float: left;
    height: 230px;
}
.items .image{
    width: 240px;
    overflow: hidden;
    width: 240px;
    padding-bottom: 4px;
}
.items .description{
    width: 300px;
}

/*Tags Style*/
p.tags_list {
  padding: 0 10px;
  a.blingy {
    color: white;
    background-image: url('/assets/blingy_tag_sprite_blue.png');
    font-size: 10px;
    background-position: 0 -60px;
    background-repeat: repeat-x;
    text-transform: uppercase;
    line-height: 14px;
    margin: 0 16px -9px 0;
    padding: 4px 0 11px 0;
    display: inline-block;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    span {
      color: white;
      background-image: url('/assets/blingy_tag_sprite_blue.png');
      width: 9px;
      height: 23px;
      display: inline-block;
      position: absolute;
      top: 0;
    }
    span.left {
      background-position: 0 -30px;
      left: -9px;
    }
    span.right {
      background-position: 0 0;
      right: -9px;
    }
  }
}

.uppercase {
  text-transform: uppercase;
}

form.well.tag-form {
  .tageditor {
    width: auto;
    float: left;
    .tags {
      width: 220px;
      height: 28px;
    }
  }
  .btn.add-tag {
    float: right;
    margin: 4px;
  }
}

.page-header ul.tags {
  padding: 15px 0px;
  border: none;
  height: auto;
  width: auto;

  li {
    margin-right: 10px;
  }
}

.item-price {
  text-align: right;
  height: 30px;
  b {
    float: right;
    font-size: 18px;
    line-height: 29px;
    color: #F14382;
    font-weight: normal;
    margin-right: 25px;
  }
  a {
    float: right;
  }
}

/* Override Nav Pills for category */
.cat-bar .nav-pills > li > a {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: #e3e3e3;
}

.cat-bar .category .checked {
  color: white;
  background-color: #08c;
}

.cat-bar .category .checked:hover, .span12 .category a:hover {
  color: white;
  background-color: #eee !important;
}

.cat-bar .category::after {
  top: 0;
  left: 0;
  border: 0;
}