body {
    position: relative;
    padding-top: 60px;
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    border-top: 1px solid #E5E5E5;
    text-align: center;
}

.info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;   

    li {
        width: 30%;
        margin-left: 3%;

        a {
            padding: 5px;
        }

        strong {
            display: block;
            margin-bottom: 5px;
        }
    }
}

.category {
    margin-bottom: 0px;
    font-size: 16px;
    padding: 10px;
    float: left;
    margin-bottom: 20px;

    li {
        padding: 10px;
        text-align: center;
    }
}

.item-block {
    margin-left: 0px;
    margin-bottom: 30px;
    line-height: 15px;
    border-bottom: 1px solid #EEE;
    padding-bottom: 10px;

    h4 {
        margin-bottom: 15px;
    }
}

.item-left {
    width: 300px;

    img {
        margin-left: 0px;
        margin-bottom: 3px;
    }

    .btn-group a {
        padding-left: 1px;
        padding-right: 1px;
        width: 32%;
    }
}

.item-right {
    width: 660px;

    a:hover {
        text-decoration: none;
    }

    img {
        vertical-align: middle;
    }

    form {
        margin-top: 6px;
        margin-bottom: 0px;

        textarea {
            margin-bottom: 0px;
            width: 90%;
        }
    }
}

.item-info {
    margin-bottom: 20px;
}

.user-block {
    margin-left: 0px;
}

.user-block-info {
    width: 106px;
    height: 50px;

    a {
        margin-top: 15px;
        text-indent: 5px;
        height: 30px;
        float: left;
    }
}

.the-icons {
    margin-left: 0px;
    list-style: none;

    li {
        margin-top: 3px;
        float: left;
        margin-right: 10px;
    }
}

.comment-block {
    margin-top: 30px;
    margin-bottom: 30px;

    form {
        margin-left: 20px;
    }

    .the-icons li {
        float: right;
    }

    a:hover {
        text-decoration: none;
    }
}

.comment-main {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    .comment-info {
        width: 700px;
    }
}

.comment-sub {
    margin-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

    .comment-info {
        width: 680px;
    }
}

.comment-info {
    span {
        margin-left: 15px;
        color: grey;
    }

    p {
        margin-bottom: 5px;
    }
}

.tag {
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

    li {
        border: 1px solid #05699B;
        color: #05699B;
        text-decoration: none;
        display: inline;
        height: 21px;
        overflow: hidden;
        line-height: 21px;
        padding: 3px 6px;
        margin: 0px 8px 8px 0px;
        word-break: keep-all;
        white-space: nowrap;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-color: transparent;

        a:hover {
            text-decoration: none;
        }
    }
}

.user-comment {
    margin-left: 0px;

    .user-comment-info {
        width: 180px;
    }
}

.friend-block {
    margin-left: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.friend-info {
    width: 650px;

    h5 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    ul {
        margin-left: 0px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 5px;
    }

    li {
        display: inline;
        margin-right: 20px;
    }
}

.tag-block {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 20px;
    line-height: 35px;
    
    li {
        display: inline;
        margin-left: 2px;
        margin-right: 2px;
    }
}