body {
    position: relative;
    padding-top: 60px;
}

.footer {
    margin-top: 45px;
    padding: 35px 0 36px;
    text-align: center;
}

.info {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;   

    li {
        width: 30%;
        margin-left: 3%;

        a {
            padding: 5px;
        }

        strong {
            display: block;
            margin-bottom: 5px;
        }
    }
}

.category {
    margin-bottom: 0px;
    font-size: 16px;
    padding: 8px;
    float: left;
    margin-bottom: 20px;

    li {
        text-align: center;
    }

    .checked {
        color: white;
        background-color: #08C;
        &:hover {
            color: #005580;
        }
    }
}

.item_block {
    margin-left: 0px;
    margin-bottom: 20px;
    line-height: 15px;
    border: 1px solid #DDD;
    padding-bottom: 2px;
}

.item_left {
    position: relative;
}

.item_right {
    margin-left: 260px;
    padding-right: 5px;
    a:hover {
        text-decoration: none;
    }
    img {
        vertical-align: middle;
    }
    form {
        margin-top: 6px;
        margin-bottom: 0px;
        textarea {
            margin-bottom: 0px;
            width: 400px;
        }
    }
}

.user-block-info {
    width: 106px;
    height: 50px;

    a {
        margin-top: 15px;
        text-indent: 10px;
        height: 30px;
        float: left;
    }
}

.the-icons {
    margin-left: 0px;
    list-style: none;

    li {
        margin-top: 3px;
        float: left;
        margin-right: 10px;
    }
}

.comment-block {
    margin-top: 30px;
    margin-bottom: 30px;

    form {
        margin-left: 0px;
    }

    a:hover {
        text-decoration: none;
    }
}

.comment-main {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    .comment-info {
        width: 700px;
    }
}

.child-comments {
    .highlighted {
        border-color: red;
    }
}

.comment-sub {
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.comment-info {
    span {
        margin-left: 15px;
        color: grey;
    }

    p {
        margin-bottom: 5px;
    }

    .the-icons li {
        float: right;
    }

    width: 600px;
}

.tag {
    margin-left: 0px;
    margin-top: 15px;
    margin-bottom: 15px;

    li {
        border: 1px solid #05699B;
        color: #05699B;
        text-decoration: none;
        display: inline;
        height: 21px;
        overflow: hidden;
        line-height: 21px;
        padding: 3px 6px;
        margin: 0px 8px 8px 0px;
        word-break: keep-all;
        white-space: nowrap;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        background-color: transparent;

        a:hover {
            text-decoration: none;
        }
    }
}

.user-comment {
    margin-left: 0px;

    .user-comment-info {
        width: 180px;
    }
}

.friend-block {
    width: 800px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.friend-info {
    width: 740px;

    h5 {
        font-size: 14px;
        margin-bottom: 15px;
    }

    ul {
        margin-left: 0px;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 5px;
    }

    li {
        display: inline;
        margin-right: 20px;
    }

    a:hover {
        text-decoration: none;
    }
}

.tag-block {
    list-style-type: none;
    margin-left: 0px;
    margin-bottom: 20px;
    line-height: 35px;
    
    li {
        display: inline;
        margin-left: 2px;
        margin-right: 2px;
    }
}
.title{
    background-color: #F0F0F0;
    overflow: hidden;
    padding: 6px;
    border-style: none none solid none;
    border-color: #DDD;
    border-width: 1px;
    margin-bottom: 8px;
}
.large_picture{
    width: 250px;
    height: 220px;
}
.user_info {
    margin-left: 35px;
    font-size: 14px;
}
.user_comment{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 35px;
    font-size: 15px;
}
.price_info{
    padding: 6px 0;
    margin: 0;
}
.page_header{
    padding: 0 0 8px 0;
}
.item_actions{
    display: none;
    position: absolute;
    left: 20%;
    top: 0;
}
