.notification-block {
    width: 700px;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.notification-info {
    width: 640px;

    h5 {
        font-size: 14px;
        margin-bottom: 5px;
        margin-right: 10px;
        line-height:30px;
    }

    p, ul {
        margin-left: 0px;
        font-size: 11px;
        color: #999;
        border-bottom: 1px solid #E5E5E5;
        padding-bottom: 5px;
    }

    li {
        display: inline;
        margin-right: 20px;
    }

    a:hover {
        text-decoration: none;
    }
}