#shareItem {
  width: 100%;
  margin: 50px auto;
  border: 1px solid #ddd;
  -moz-border-radius: 1em;-webkit-border-radius: 1em;border-radius: 1em;
  -moz-box-shadow:2px 2px 5px #333333;-webkit-box-shadow:2px 2px 5px #333333; box-shadow:2px 2px 5px #333333;
  .shareContent {
    margin: 50px 22px 0px;
    text-align: center;
    .shareInfo {
      line-height: 50px;
      min-height: 400px;
      margin-top: 100px;
      h1 {
        color: #333;
        font-size: 24px;
        font-weight: bold;
        strong {
          font-size: 30px;
        }
      }
      span {
        font-weight: 300;
        color: #777;
        font-size: 18px;
        strong {
          color: blue;
        }
      }
      form.shareForm {
        border: 1px solid #ddd;
        padding: 10px 0;
        width: 600px;
        margin: 80px auto;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        position: relative;
        background-color: whiteSmoke;
        input.shareUrl {
          width: 470px;
          height: 32px;
          font-size: 17px;
        }
      }
    }
  }
  #bookmarklet_toolbar {
    text-align: right;
    h1 {
      font-size: 15px;
      font-weight: normal;
    }
    a {
      font-size: 15px;
      background-color: #C6401B;
      color:#FFFFFF;
      border-radius: 8px;
      padding: 5px;
      text-decoration: none;
    }
  }
}
