/*images list start*/
#share_content {
.item {
  box-shadow: 0 3px 5px rgba(34, 25, 25, 0.4);
}

ul li .inner_border {
  border: 12px solid #FFFFFF;
  height: 300px;
  overflow: hidden;
  cursor:pointer;
}

ul li img.snapshot {
  margin-left: -45px;
  z-index: 8;
}

.image_text {
  background: none repeat scroll 0 0 #EEEEEE;
  height: 125px;
  opacity: 0.9;
  position: absolute;
  left: 0;
  bottom: -85px;
  width: 220px;
  z-index: 9;
}

.image_text .title {
  margin: 5px 10px;
}

.image_text .description {
  margin: 0 10px;
}

.item .title {
  height: 33px;
}

.item .title .avatar {
  float: left;
}

.item .title .general_info {
  float: right;
  margin-right: 5px;
}
.item .title .avatar img{
  float: left;
  height: 30px;
  width: 30px;
  margin-left: 0;

}

.item .title .avatar .avatar_right {
  float: left;
  margin-left: 3px;
  width: 90px;
  overflow: hidden;
}

.item .title .general_info .liked_info {
  clear: both;
}

.item .title .general_info .liked_info .liked_img,
.item .title .general_info .liked_info .liked_num {
  float: left;
}

.item .title .general_info .liked_info .liked_img {
  background: url(../images/likebg.gif) no-repeat scroll 0 -25px transparent;
  width: 20px;
}

.item .title .general_info .liked_info .liked_num {

}

.item .title .general_info .wish_info {
  clear: both;
}

.item .title .general_info .wish_info .wish_img,
.item .title .general_info .wish_info .wish_num {
  float: left;
}

.item .title .general_info .wish_info img {
  float: left;
  width: 13px;
  margin-left: 2px;
}

.item .title .general_info .wish_info .wish_num {
  margin-left: 5px;
}

.image_text .description .desc_header,
.image_text .description .desc_body {
  clear: both;
}

.image_text .description .desc_header .line1 .desc_title {
  float: left;
}

.image_text .description .desc_header .line1 .desc_date {
  float: right;
  margin-right: 3px;
}

.image_text .description .desc_header .line2 {
  clear: both;
}

.image_text .description .desc_body .desc_content {
  margin-top: 3px;
}

.image_text .description .desc_body .item_comment {
  /*float: right;
  margin-top: -11px;*/
  position: absolute;
  bottom: 0px;
  right: 12px;
}

.image_text .description .desc_body .item_comment div{
  float: left;
}

.image_text .description .desc_body .item_comment .img {
  width: 13px;
}

.image_text .description .desc_body .item_comment .item_comment_num {
  margin-right: 3px;
  margin-left: 3px;
}

ul li .line2 img {
  margin-left: -4px;
}
}

/*images list end*/

#overlay-detail-mock .bookmarklet_container,
#bookmarklet_container {
  margin: 0 auto;
  .share-to {
    float: left;
    text-align: left;
  }
  form.form-horizontal {
    padding-top: 25px;
  }
}

.clear {
  clear: both;
}

#overlay-detail {
  padding-top: 20px;
}

#overlay-detail-mock {
  position: relative;
   .loading-mask{
     top: 0;
     position: absolute;
     width: 800px;
     height: 100%;
     background-color: #eee;
     opacity: 0.6;
     filter: alpha(opacity=60);
     font-weight: bold;
     text-align: center;
  }
  .loading-mask > div {
     margin-top: 120px;
  }
  .loading-mask img {
     vertical-align: middle;
  }
}

form.share-detail {
  margin: 0;
  padding: 0;
  .share-details-title {
    height: 28px; 
    line-height: 28px; 
    padding: 2px 15px;
    font-weight: bold;
    width: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .share-details-price{
    float: right;
    height: 32px;
    line-height: 32px;
  }
  .bookmarklet_container .images_picker {
    background-color: #fff !important;
    border: 1px solid #EEE;
    box-shadow: 2px 2px 5px #E3E3E3;
    margin: 5px 0 15px 20px;
  }
  .wisth_type_list{
    display:none;
    margin-top:15px;
    margin-bottom: 15px;
  }
  .footer{
    line-height:45px;
    height:45px;
    text-align:center;
    background-color:#e3e3e3;
    padding: 0 15px;
  }
}