.showitem-page .item-divider {
	float:right;
	height:800px;
	border:1px solid #ccc;
	box-shadow: 0 0 20px;
	margin: 40px;
}

.showitem-page .thumbnail {
	padding: 0;
	border: 0;
	box-shadow: 2px 2px 10px #ccc;
	-webkit-box-shadow: 2px 2px 10px #ccc;
	-moz-box-shadow: 2px 2px 10px #ccc;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	position: relative;
	text-align: center;
	width: 96%;
	.count-list {
		font-size: 16px;
		background-color: #ccc;
		padding: 5px 20px;
		color: #000;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		opacity: 0.8;
  		filter: alpha(opacity=80);
  		a, a:hover{
  			color: #000
  		}
	}
}

.showitem-page .item-desc {
	margin: 18px 0;
}

.showitem-page .item-shopping {
	height: 29px;
	line-height: 29px;
	position: relative;
	span.item-price {
		display: inline-block;
		vertical-align: top;
	}	
}

.showitem-page .tags_list{
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 15px 0;
	margin: 9px;
	a.blingy {
		margin: 5px 16px 0 0;
	}
	input {
		height: 14px;
		width: 68px;
	}
}

.showitem-page .comment-btn{
	.btn {
		margin-right: 15px;
	}
	input {
		margin-right: 5px;
	}
}

.showitem-page input[type="submit"].btn {
	margin: 0 15px 10px 10px;
}