<div class="row" style="margin-left: 0px;">
    <ul class="nav nav-pills well category">
        <% categories.each do |c| %>
            <li><a href="#"><%= c %></a></li>
        <% end %>
    </ul>
</div>
