<div class="row" style="margin-left: 0px;">
    <ul class="nav nav-pills well category">
        <% categories.each_with_index do |c, i| %>
            <li>
                <a href="javascript: void(0);" value="<%= c %>" class="<%= current_categories.include?(c) ? "checked" : "" %>"><%= c %></a>
            </li>
        <% end %>
    </ul>
</div>
